.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.header h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--cor4);
}

.header .alternar-tema-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  color: var(--cor6);
  background: var(--cor3);
  border-radius: 50px;
}

.header .alternar-tema-btn::after {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  top: 0;
  left: 51%;
  background: #e7da46;
  opacity: .15;
  border-radius: 50%;
  transition: .5s;
}

.container.tema-claro .header .alternar-tema-btn::after {
  left: 12.9%;
  background: #13154f;
}

.header .alternar-tema-btn i:first-child {
  color: #e7da46;
}

.header .alternar-tema-btn i:last-child {
  color: #13154f;
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2.5rem;
  }
}
